
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;500;700;800&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  /* overflow-x: hidden; */
  /* height: 100%; */
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;

}

@media only screen and (min-width: 1920px) {
  html {
    font-size: calc((100vw / 1920) * 16)
  }
}
p {
  font-family: 'Catamaran', sans-serif;
}
.control-next{
  width: 100%;
  /* visibility: hidden; */
}
.control-prev{
  display: none;
}
.carousel.control-next{
  opacity: 0;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */


.carousel .control-arrow, .carousel.carousel-slider .control-arrow:hover{
  background-color: transparent;
  /* opacity: 0; */
}

.carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover{
  background-color: transparent;
  /* opacity: 0; */
}

.carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
  background-color: transparent;
  /* opacity: 0; */
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
  opacity: 0;
}

.carousel .control-next.control-arrow:before {
  opacity: 0;
}

.carousel .control-prev.control-arrow:before {
  opacity: 0;
}
