.parallax {
  /* The image used */
  background: url("/mustbe_architecture_hero.jpg") rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;

  /* Set a specific height */
  min-height: 100vh;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 4vw;
  margin-top: 10px;
}
.display_flex_column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}
.margin_20{
  margin: 20px 20px 20px 4vw;
}
.hr_style{
  border-top: 0px solid white;
  border-bottom: 0.5px solid white;
}
.height_500{
  height: 50vh;
}
.padding_top_0 {
  padding-top: 0px;
}
.contact {
  font-size: calc(9px + 0.8rem);
  line-height: calc(9px + 0.8rem);
  color: white;
  text-align: right;
  margin-right: 4vw;
}
.under_construction {
  color: white;
  font-size: calc(12px + 1.2rem);
}
.under_construction_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vh;
}