.parallax {
  /* background: url("/mustbe_architecture_hero.jpg"); */
  background-blend-mode: multiply;

  min-height: 90vh;


  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 599px) {
  .parallax {
    background-size: 200vw;
  }
}

.logo_wrapper{
  position: relative;
  min-height: 3rem;
  width: 20rem;
  margin-left: 8vw;
  margin-top: 10px;
  margin-bottom: 0.5rem;
}

.desktop_logo {
  display: block;
}
.mobile_logo{
  display: none;
}

@media screen and (max-width: 599px) {
  .desktop_logo {
    display: none;
  }
  .mobile_logo{
    display: block;
  }
}


.center_flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.display_flex_column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.menu_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 8vw;
  margin-bottom: 0.5rem;
  line-height: 12px;
  /* transition: top 0.6s; */
}

@media only screen and (max-width: 599px) {
  .menu_wrapper {
    display: none;
  }
}

.mobile_menu_burger {
  position: relative;
  min-height: 1.2rem;
  margin-right: 8vw;
  margin-bottom: 0.7rem;
  width: 30px;
}

@media screen and (min-width: 599px) {
  .mobile_menu_burger {
    display: none;
  }
}

.mobile_wrapper {
  background-color: white;
}

.project_image {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  /* padding: 7rem 6rem;; */
  padding-top: 65.6003%;
  position: relative;
}

.address_image {
  padding-top: 125%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;
  background-image: url("/address_image.jpg");
}

.profile_image {
  padding-top: 65.61%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;
  background-image: url("/profile.jpg");
  z-index: 80;
}

.hr_style {
  border-top: 0px solid white;
  border-bottom: 0.5px solid white;
}

.height_500 {
  height: 50vh;
}

.padding_top_0 {
  padding-top: 0px;
}

.nav_link_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_arrow {
  display: none;
}

.nav_link_wrapper:hover .nav_arrow {
  display: block;
}

.nav_link {
  font-size: 14px;
  color: rgb(26, 26, 26);
  text-align: right;
  text-decoration: none;
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.mobile_nav_link {
  margin: 10px 0px;
}

.nav_link:hover {
  /* font-weight: 700; */
  transition: 0.5s;
}

.under_construction {
  color: white;
  font-size: calc(12px + 1.2rem);
}

.under_construction_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vh;
}

.social_icon {
  padding: 0px 10px;
}

.go_up_wrapper {
  display: flex;
  flex-direction: column;
}

.go_up {
  position: sticky;
  bottom: 1rem;
  right: 1rem;
  align-self: flex-end;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
}

.go_up:hover {
  background-color: rgb(128, 128, 128);
  cursor: pointer;
  transition: .5s;
}

.go_up_image {
  rotate: 180deg;
}


.thumbnail_title {
  font-size: 1rem;
  margin-top: -26px;
  text-transform: uppercase;
}

.thumbnail_title_wrapper {
  opacity: 0;
  translate: 0 24px;
  /* height: 1rem; */
}

@media screen and (max-width: 599px) {
  .thumbnail_title_wrapper {
    opacity: 1;
    translate: 0;
  }
}

.thumbnail_content:hover {
  cursor: pointer;
}

.thumbnail_content:hover .thumbnail_title_wrapper {
  translate: none;
  transition: 400ms;
  opacity: 1;
  /* margin-bottom: 10px */
}

.preloader {
  height: 100vh;
}

.preloader_fade {
  transition: opacity 2s;
  opacity: 0;
  position: absolute;
  top: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 100;

}
.project_description {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 20px;
  width: 100%;
  text-align: left;
  font-family: 'Catamaran', sans-serif;
}
.project_description_title{
  font-size: 1rem;
  line-height: 10px;
}