.parallax {
  background: url("/mustbe_architecture_hero.jpg");
  background-blend-mode: multiply;

  min-height: 100vh;


  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax {
  height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;

  perspective: 1px;
}

/* .parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer1 {
  transform: translateZ(0);
}
.parallax-layer.layer1 {
  width: 100%;
  height: 100rem;

  background-color: red;
} */

.logo_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 8vw;
  margin-top: 10px;
}
.center_flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.display_flex_column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}
.menu_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 9vw;
}
.project_image{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;
  /* padding: 7rem 6rem;; */
  padding-top: 65.52%;
  position: relative;
}
.project_thumbnail{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;
  /* padding: 7rem 6rem;; */
  padding-top: 65.52%;
  position: relative;
  transition: all .5s;
}
.project_thumbnail:hover{
  /* background-color: rgba(0, 0, 0, 0.3); */
  transition: all .5s;
  transform: scale(1.02);
}
.thumbnail_title{
  font-size: 1rem;
  margin-top: -14px;
  text-transform: uppercase;
  /* width: 100%;
  position: absolute;
  top: 10%;
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  border-bottom: 1px solid white;
  padding-left: 2.5rem; */
}
.project_thumbnail:hover .thumbnail_title{
  opacity: 1;
  transition: all .5s;
}
.thumbnail_subtitle{
  color: white;
  width: 100%;
  top: 22%;
  font-size: 1rem;
  position: absolute;
  opacity: 0;
  /* padding-left: 2.5rem; */
}
.project_thumbnail:hover .thumbnail_subtitle{
  opacity: 1;
  transition: all .5s;
}
.address_image{
  padding-top: 125%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;
  background-image: url("/address_image.jpg");
}
.profile_image{
  padding-top: 65.61%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;
  background-image: url("/profile.jpg");
}
.hr_style{
  border-top: 0px solid white;
  border-bottom: 0.5px solid white;
}
.height_500{
  height: 50vh;
}
.padding_top_0 {
  padding-top: 0px;
}
.nav_link_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav_arrow{
  display: none;
}
.nav_link_wrapper:hover .nav_arrow{
 display: block;
}
.nav_link{
  font-size: 14px;
  color: rgb(26, 26, 26);
  text-align: right;
  /* margin-left: 1rem; */
  text-decoration: none;
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.nav_link:hover{
  /* font-weight: 700; */
  transition: 0.5s;
}
.under_construction {
  color: white;
  font-size: calc(12px + 1.2rem);
}
.under_construction_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vh;
}
.social_icon{
  padding: 10px;
}
.margin_bottom{
  margin-bottom: 20px;
}
.go_up_wrapper{
display: flex;
}
.go_up{
  position: sticky;
  bottom: 1rem;
  right: 1rem;
  align-self: flex-end;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
}
.go_up:hover{
  background-color: rgb(128, 128, 128);
  cursor: pointer;
  transition: .5s;
}
.go_up_image{
  rotate: 180deg;
}